<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matcha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Montez|Roboto+Condensed|Stalemate" rel="stylesheet">
    <script src="main.js"></script>
    <script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <h1>Matcha<sup>TM</sup></h1>
        <p>find love</p>
    </div>
    <div class="navbar"><a href="#">Profile</a><a href="#">Matches</a><a href="#">Messages</a><a class="right" href="#">Settings</a></div>
    <div class="row">
        <div class="side">
            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div class="fakeimg" style="height: 200px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <div class="fakeimg" style="height: 60px;">Image</div>
            <div class="fakeimg" style="height: 60px;">Image</div>
            <div class="fakeimg" style="height: 60px;">Image</div>
        </div>
        <div class="main">
            <h2>ALL CHAT MESSAGES</h2>
            <h5>Title Description, Mar 7, 2018</h5>
            <div class="fakeimg" style="height: 200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <h2>TITLE HEADING</h2>
            <h5>Title Description, Mar 1, 2018</h5>
            <div class="fakeimg" style="height: 200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>

</html>